{{yield}}
{{adminText}}
<div class="button button--toggle {{targeting.isVisible}}" {{action 'toggleChapter'}}>Chapter</div>
<div class="button button--toggle {{targeting.mapAnimation}}" {{action 'toggleAnimation'}}>Map Animation</div>
<div class="button" {{action 'removeRoute'}}>Remove Route</div>
<div class="button" {{action 'addHotspot'}}>Add Hotspot</div>
<div class="button" {{action 'save'}}>Save</div>
