{{yield}}
{{#touch-toggle callback='openHotspot'}}
  <div class="chapter-hotspot__icon"></div>
{{/touch-toggle}}
<div class="chapter-hotspot__overlay">
  {{#touch-toggle callback='closeHotspot'}}
    <div class="chapter-hotspot__overlay__close">×</div>
  {{/touch-toggle}}
  <div class="chapter-hotspot__overlay__media">
    {{#if (eq hotspot.type "video")}}
      {{ivy-videojs src=hotspot.video setup=setup}}
    {{/if}}
    {{#if (eq hotspot.type "audio")}}
      {{ivy-videojs src=hotspot.audio setup=setup}}
    {{/if}}
    {{#if (eq hotspot.type "image")}}
      <img src="{{hotspot.image}}">
    {{/if}}
  </div>
  <div class="chapter-hotspot__overlay__content">
    <h3 class="chapter-hotspot__overlay__content__title">
      {{hotspot.title}}
    </h3>
    {{{hotspot.description}}}
    {{#if hotspot.source}}
      <div class="chapter-hotspot__overlay__content__source">
        Quelle: <a href="{{hotspot.source}}">{{hotspot.sourceExcerpt}}</a>
      </div>
    {{/if}}
  </div>
</div>
