<!-- <div class="map-navigation">
  <div class="btn" {{action 'toggleClass'}}>Toggle Style</div>
  <div class="btn" {{action 'moveTo' 'ber'}}>Berlin</div>
  <div class="btn" {{action 'moveTo' 'muc'}}>München</div>
  <div class="btn" {{action 'moveTo' 'muc-easeIn'}}>ease In</div>
  <div class="btn" {{action 'moveTo' 'muc-easeOut'}}>ease Out</div>
</div> -->
{{yield}}
