{{#time-line-item chapter=firstChapter class='time-line-item--big time-line-item--first'}}
  <div class="time-line-item__number">
    0{{firstChapter.number}}
  </div>
  {{{firstChapter.title}}}
{{/time-line-item}}
<div class="time-line__squished time-line__squished--start">
  <div class="time-line__squished__progressbar"></div>
</div>
<div class="time-line__container">
  <div class="time-line__container__frame">
    <div class="time-line__container__frame__slider">
      <div class="time-line__container__frame__slider__labels">
        <div class="time-line__container__frame__slider__labels__label time-line__container__frame__slider__labels__label--first">März</div>
        <div class="time-line__container__frame__slider__labels__label time-line__container__frame__slider__labels__label--second">April</div>
        <div class="time-line__container__frame__slider__labels__label time-line__container__frame__slider__labels__label--third">Mai</div>
      </div>
      <div class="time-line__container__frame__slider__columns">
        {{#each columns as |column|}}
          {{#time-line-column story=story date=column.value}}
            {{#each column.items as |chapter|}}
              {{#time-line-item chapter=chapter}}
                {{chapter.number}}
              {{/time-line-item}}
            {{/each}}
          {{/time-line-column}}
        {{/each}}
      </div>
      <div class="time-line__container__frame__slider__progressbar">
        {{time-line-progressbar}}
      </div>
      <div class="time-line__container__frame__slider__axis">
        {{#each days as |day|}}
          {{time-line-date
            story=story
            day=day
            chapters=chapters
          }}
        {{/each}}
        {{time-line-indicator}}
      </div>
    </div>
  </div>
  <div class="time-line__container__scrollbar">
    <div class="time-line__container__scrollbar__handle"></div>
    <div class="time-line__container__scrollbar__content">
      {{#each columns as |column|}}
        {{#time-line-column story=story date=column.value}}
          {{#each column.items as |chapter|}}
            {{time-line-navigator chapter=chapter}}
          {{/each}}
        {{/time-line-column}}
      {{/each}}
    </div>
  </div>
</div>
<div class="time-line__squished time-line__squished--end">
  <div class="time-line__squished__progressbar"></div>
</div>
{{#time-line-item chapter=lastChapter class='time-line-item--big time-line-item--last'}}
  <div class="time-line-item__number">
    {{lastChapter.number}}
  </div>
  {{{lastChapter.title}}}
{{/time-line-item}}
