<div class="story">
  <div class="story__title" {{action 'addNewStory'}}>
    {{model.name}}
  </div>

  {{!mapbox-map target=target}}

  {{time-line
    chapters=model.chapters
  }}

  {{outlet}}
</div>

{{object-detection
  activeObjects=activeObjects
}}

{{#each activeObjects as |object|}}
  {{object-item object=object setTarget='setTarget'}}
{{/each}}

{{!pan-test}}
