<div class="story">
  <div class="story__title" {{action 'addNewStory'}}>
    {{model.name}}
  </div>
</div>

{{mapbox-map}}

{{outlet}}

{{time-line
  chapters=model.chapters
}}

{{object-detection
  activeObjects=activeObjects
}}

{{#each activeObjects as |object|}}
  {{object-item object=object}}
{{/each}}

{{!pan-test}}
