{{#object-detection}}
  {{outlet}}

  {{time-line
    chapters=model.chapters
    story=model
  }}

  {{mapbox-map
    chapters=model.chapters
  }}


  {{#if targeting.currentPreview}}
    {{preview-item preview=targeting.currentPreview}}
  {{/if}}
{{/object-detection}}
<div class="load-button" {{action 'addNewStory'}}>Load Data</div>
